.editable {
  width: 100%;

}

.editable_display {
  padding: 6px 12px;
  border-radius: 3px;
  background-color: #eee;
  color: #000;
  cursor: pointer;
  width: fit-content;
  transition: 200ms;
  /* box-shadow: 10px 10px 5px 5px #333; */
}

.editable_display:hover {
  background-color: black;
  color: white;
}

.editable_edit {
  background-color: #654964;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* background-color: #fff; */

}

.editable_edit input {
  border: 1px solid #333;
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
  padding: 10px;
}

.editable_edit input:hover {
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.13);

}


.editable_edit_footer {
  display: flex;
  gap: 8px;
  align-items: center;
}

.editable_edit_footer button {
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  background-color: #fff;
  color: #333;
  border: none;
  transition: 100ms ease;
  padding: 10px;
  width: 70px;
}

.editable_edit_footer button:hover {
  background-color: black;
  color: white;
}

.editable_edit_footer button:active {
  transform: translateY(2px);
}

.editable_edit_footer .closeIcon {
  cursor: pointer;
  height: 24px;
  width: 24px;
}